
/* --------------------------------------------- | global style |--------------------------------------------- */

/*New body*/

html,
body {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
    background-color: #fff;
    color: #5e5e5e;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    min-height: 100%;
    overflow-x: hidden;
}

a,
a:focus,
a:hover {
    color: #286090;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: white;
    text-shadow: none;
    background-color: #286090;
    border: 1px solid black;
    width: 60%;
    margin-bottom: 5px;
}

/* --------------------------------------------- | header style |--------------------------------------------- */

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}


/* --------------------------------------------- | container style |--------------------------------------------- */

.container .jumbotron, .container-fluid .jumbotron {
    margin: 70px 0 20px 0;
}

.jumbotron h1, h2 {
    color: #286090;
}

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
    margin-top: 70px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-signin .form-control:focus {
    z-index: 2;

}
.form-signin input[type="email"] {
    margin-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.container-wrapper {
    height:80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 300px;
}

.home-image {
    display: block;
    width: 100%; !important;
    height: auto; !important;
}

.login-box {
    text-align: center;
}

.login-container {
    width: 40%;
    margin: auto;
    margin-top: 100px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


/* --------------------------------------------- | table style |--------------------------------------------- */

/*.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.inner {
    padding: 30px;
}

.table {
    table-layout: fixed;
    overflow: auto;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
    background: whitesmoke;

    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.mastfoot {
    color: #999;
    color: rgba(255,255,255,.5);
}*/

/* --------------------------------------------- | footer style |--------------------------------------------- */


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.footer p {
    margin: 20px 0 0 0;
}


/* --------------------------------------------- | media style |--------------------------------------------- */

/*@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}

@media (min-width: 768px) {

    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }

    .site-wrapper-inner {
        vertical-align: middle;
    }

    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%;
    }

    .row-offcanvas-right.active {
        right: 50%;
    }

    .row-offcanvas-left.active {
        left: 50%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;
    }
}*/

/*End style*/
